ul, li {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}
#portfolio {
	background: #000;
	text-align: center;
}
#portfolio .container {
	padding: 0 12px;
}
.projects {
	*zoom:1;
	clear: both;
}
.projects:after {
	content: "";
	display: table;
	clear: both;
}

.portfolio-window {
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
	background: #000;
	bottom: 0;
	visibility: hidden;
	height: 100%;
	left: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	padding: 0;
	position: fixed;
	width: 100%;
	z-index: 9999;
}
#portfolio-window.active {
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
	left: 0;
	visibility: visible;
}
#portfolio-content {
	*zoom:1;
	opacity: 0
}
#portfolio-content:after {
	content: "";
	display: table;
	clear: both;
}
.portfolio-showcase {
	*zoom:1;
	background: #000;
	margin: 0 auto;
}
.portfolio-showcase:after {
	content: "";
	display: table;
	clear: both;
}
.portfolio-showcase .flex-direction-nav {
	position: fixed;
	top: 0;
}
.piece {
	background: #000;
	display: none;
}
.piece .container {
	margin: 0 auto;
	max-width: 960px;
	padding: 0;
	width: 100%;
}
.piece img {
	display: block;
	margin: 2em auto;
}
.piece .header {
	background: #000;
	color: #727272;
	font-family: "ff-tisa-web-pro", serif;
	*zoom:1;
	line-height: 1.4em;
	min-width: 320px;
}
.piece .header:after {
	content: "";
	display: table;
	clear: both;
}
.piece .header .container {
	padding: .2em 0 2em;
}
.piece .header h2 {
	color: #fff;
	font: 800 30px/1em "proxima-nova", sans-serif;
	letter-spacing: 4px;
	margin-bottom: 30px;
	padding: 0 0 0 10px;
	text-align: center;
	text-transform: uppercase;
}
@media only screen and (min-width:768px) {
.piece .header h2 {
	font-size: 20px;
}
}
.piece .header .text {
	margin: 0 auto;
	width: 100%;
}
.piece .content {
	text-align: center;
	overflow: auto;
	padding: 0;
}
.piece .content a {
	color: #b1b1b1;
	text-decoration: none;
}
.piece .content .sect-label {
	border-bottom: 1px solid #eaeaea;
	border-top: 1px solid #eaeaea;
	color: #b1b1b1;
	font: 800 12px "proxima-nova", sans-serif;
	letter-spacing: 3px;
	padding: 1.25em 0;
	text-align: center;
	text-transform: uppercase;
}
.port-nav {
	*zoom:1;
	position: relative
}
.port-nav:after {
	content: "";
	display: table;
	clear: both;
}
@media only screen and (max-width:1218px) {
.port-nav {
	line-height: 1em;
	margin: 0 auto 1.3em;
	text-align: center;
}
}
.port-nav a {
	-webkit-transition-property: border, color;
	-moz-transition-property: border, color;
	-o-transition-property: border, color;
	transition-property: border, color;
	-webkit-transition-duration: 400ms;
	-moz-transition-duration: 400ms;
	-o-transition-duration: 400ms;
	transition-duration: 400ms;
	border: 1px solid #616161;
	color: #939393;
	font: 20px/1em "alternate-gothic-no-1-d", sans-serif;
	height: 49px;
	letter-spacing: .2em;
	line-height: 53px;
	text-decoration: none;
	text-transform: uppercase;
	width: 57px;
}
.port-nav .prev-piece {
	background: transparent url(../images/triangle-left-light-grey.png) no-repeat 16px center;
	padding-left: 44px;
}
.port-nav .prev-piece:hover {
	border-color: white;
	color: white;
}
.port-nav .next-piece {
	background: transparent url(../images/triangle-right-light-grey.png) no-repeat 76px center;
	padding-left: 16px;
	width: 85px;
}
.port-nav .next-piece:hover {
	border-color: white;
	color: white;
}
.portfolio-showcase .header {
	padding-top: 20px
}
.portfolio-showcase .next-piece {
	
}
@media only screen and (max-width:600px) {
.portfolio-showcase .next-piece {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	background-position: 53% center;
	height: 50px;
	padding-left: 0;
	padding-right: 0;
	width: 50px;
}
}
@media only screen and (max-width:1218px) {
.portfolio-showcase .next-piece {
	float: none;
	padding-right: 0;
	position: absolute;
	text-align: left;
	top: 0;
}
}
@media only screen and (min-width:1219px) {
.portfolio-showcase .next-piece {
	right: 28px;
}
}
.portfolio-showcase .prev-piece {
	left: 20px;
	position: absolute;
	top: 37px;
}
@media only screen and (max-width:600px) {
.portfolio-showcase .prev-piece {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	background-position: 49% center;
	height: 50px;
	padding-left: 0;
	padding-right: 0;
	width: 50px;
}
}
@media only screen and (max-width:1218px) {
.portfolio-showcase .prev-piece {
	float: none;
	position: absolute;
	text-align: left;
	top: 0;
}
}
@media only screen and (min-width:1219px) {
.portfolio-showcase .prev-piece {
	left: 29px;
}
}
.portfolio-showcase .piece-footer {
	background: #222324;
	color: #727272;
	padding: 28px 0;
	min-width: 320px;
}
.portfolio-showcase .piece-footer .port-nav {
	height: 51px;
	margin-bottom: 0;
	position: relative;
}
.portfolio-showcase .piece-footer .close-window {
	margin-bottom: 0;
}
.portfolio-showcase .piece-footer .next-piece, .portfolio-showcase .piece-footer .prev-piece {
	top: 0!important;
}
.close-window {
	-webkit-transition-duration: 400ms;
	-moz-transition-duration: 400ms;
	-o-transition-duration: 400ms;
	transition-duration: 400ms;
	cursor: pointer;
	display: block;
	font-family: "PT Sans", Helvetica, Arial, sans-serif;
	margin: 0 auto;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	font-size: 12px;
	font-weight:lighter;
	letter-spacing: 1px;
	margin: 0;	
}
